/* General styling */
* {
    font-family: 'Lato',serif;
}
strong {
    font-weight: 900;
    letter-spacing: 0.025rem;
}
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
div {
    scroll-margin-top: 3rem;
}
p {
    line-height: 1.2rem;
}
body {
    margin: 0 0 0 0;
}
li {
    line-height: 1.2em;
    margin: 1rem 0rem 1rem 0rem;
}
h2 {
    scroll-margin-top: 3rem;
    font-variant: small-caps;
    margin-bottom: 0;
}
hr {
    color: blue;
}

/* Specific sections */
/* Header */
#page-topper {
    max-width: 100%;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-image {
    width: 100%;
}
#main-title {
    text-align: center;
    font-size: clamp(30px, 10vw, 60px);
    margin: 0;
}
#page-topper > h3 {
    font-weight: normal;
    text-align: center;
    margin: 0;
}

/* Sticky navigation bar */
#nav-bar {
    background-color: rgb(200, 223, 253);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    z-index: 10;
}
#nav-bar > ul {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem .75rem 0.5rem .75rem;
    margin: 0 0 0 0;
}
#nav-bar > div {
    display: flex;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#nav-bar > ul > li {
    list-style: none;
    margin: 0 0 0 0;
}
#nav-bar > ul > li > a {
    text-decoration: none;
    padding: 0.5rem .75rem 0.5rem .75rem;
    color: black;
}
#nav-bar > ul > li > a:hover {
    background-color: rgba(138, 43, 226, 0.5)
}

/* Main Section */
#phone-screen-warning {
    display: none;
}
@media (max-width: 30em) {
    #phone-screen-warning {
        display: block;
        padding: 1em 1em 0em 1em;
        font-variant: normal;
    }
}

.source-links-a {
    /* position: relative;
    bottom: 1ex;
    font-size: 0.7rem; */
    text-decoration: none;
    font-style: italic;
}
#body-section {
    padding: 1em 2.5em; 
    max-width: 1000px;
    margin: auto;
    background-color: white;
}
.center-column-content {
    padding: 1em 2.5em; 
    max-width: 1000px;
    margin: auto;
    background-color: white;
}
.writeup-charts {
    max-width: 800px;
    margin: auto;
}
.writeup-charts > i {
    font-size: smaller;
}
#model-options {
    padding-top: 0;
}
#opening-blurb {
    padding: 0;
    /* max-width: 800px; */
}

#opening-blurb > div > p {
    line-height: 1.8rem;
    font-size: 1.4rem;
    padding: 1em 1em;
    /* font-style: italic; */
}


/* Model Output Section */
#model-output {
    display: grid;
    grid-template-columns: auto 595px;
    gap: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 1600px;
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.output-box {
    background-color:  rgb(200, 223, 253);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: .1rem .1rem .2rem rgb(160, 160, 160);
    box-sizing: border-box;
}
#output-graph {
    width: 100%;
    box-sizing: border-box;
}
#lake-image {
    max-width: 100%;
}
.output-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.output-subtitle {
    display: block;
    padding-top: 0.5rem;
}
#graph-subtitle-link {
    text-decoration: none;
    margin-top: 10px;
}
#right-column {
    grid-row: span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 1.5rem;
    width: auto;
    box-sizing: border-box;
}
@media (max-width: 80rem) {
    #model-output {
        grid-template-columns: auto;
    }
    #right-column {
        grid-column: 1;
    }
    .output-box {
        margin: auto;
    }
    #line-graph {
        width: 100%;
    }
}

#written-lake-effects-output > ul > li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}
#new-lake-stats > div > ul > li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

/* Writeup formatting */

/* Really(!!) bad way of formatting LaTex font*/
#writeup-text > div > p > span {
    font-size: 0.9rem;
}
#writeup-text > div > ul > li > span {
    font-size: 0.9rem;
}

#works-cited {
    text-indent: -2rem;
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}