body {
    padding: 1em 2.5em; 
    max-width: 1000px;
    margin: auto;
}

p {
    line-height: 1.2em;
    text-indent: 4em;
}

li {
    line-height: 1.2em;

}

/* labelStyle={
    display: block
    'text-indent': '-1.25em'
},
style={
    'position':'relative',
    'left': '1em'
} */

before-after-parent {
    display:flex;
    justify-content: center;
    
}

/* .parent {
    display: flex;
    justify-content: center;
    align-items: center;
} */
